.header {
    display: flex;
    height: 9vh;
    width: 100%;
    background-color: #0077C3;
    align-items: center;
    justify-content: space-between;
}

.logoGroupContainer {
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 30px;
}

.groupSelect {
    width: 150px;
    height: 30px;
    margin-left: 100px;
}

.logoutButton {
    color: #FFFFFF;
    width: 120px;
    height: 35px;
    font-size: 15px;
    background-color: #2B6AF0;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 60px;
}

