.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    margin-top: 10%;
    font-family: 'Times New Roman', Times, serif;
}

.loginButton {
    color: #FFFFFF;
    width: 150px;
    height: 35px;
    font-size: 15px;
    margin-bottom: 20px;
    background-color: #2B6AF0;
    cursor: pointer;
    border-radius: 4px;
}

.registerHereButton {
    cursor: pointer;
    color: #2B6AF0;
    font-size: 20px;
    text-decoration: none;
}

.loginTitle {
    color: #274DB8;
    margin-bottom: 40px;
}

.loginInput {
    margin-bottom: 10px;
    height: 30px;
    width: 180px;
    border: 0;
    border-bottom: 1px solid grey;
    padding-left: 10px;
}

.noAccountText {
    font-size: 18px;
    margin-bottom: 10px;
}
