.registrationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    font-family: 'Helvetica Neue';
}

.formError {
    color: #CC0000;
}

.registrationTitle {
    color: #0077C3;
    margin-bottom: 40px;
}

.registrationInput {
    margin-bottom: 10px;
    height: 30px;
    width: 180px;
    border: 0;
    border-bottom: 1px solid grey;
    padding-left: 10px;
}

.registrationButton {
    color: #FFFFFF;
    width: 150px;
    height: 35px;
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 4px;
    background-color: #0077C3;
    cursor: pointer;
}